
/****Globals****/

* {
    box-sizing: border-box;
}

body {
  font-family: 'Oswald',sans-serif;
  font-size: 24px;
  margin: 0 auto;
  background-color: grey;
}

h1 {
  text-align: center;
}

input {
  font-size: 28px;
  width: 70%;
  padding: 20px;
  margin: 0;
  height: 80px;
  border: none;
}

section {
  width: 100%;
}

ul {
  list-style: none;
}

/****Typography****/

.app-name {
  font-family: 'Lobster', cursive;
  font-size: 44px;
}

.logo {
  display:inline-block;
}

ul.searchBar {
  display: flex;
  padding: 0;
  margin-bottom: 0;
  height: 70px;
}

.round-left {
  border-radius: 10px 0px 0px 0px;
}

.round-right {
  border-radius: 0px 10px 0px 0px;
}

#js-form {
  display: flex;
}

.results-section {
  background-image: linear-gradient(grey,lightgrey);
  width: 90%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.js-results-list1, 
.js-results-list2 {
  margin: 0 auto;
  padding: 0;
}

#submitButton {
  height: 80px;
  width: 30%;
  color: white;
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  background-color: turquoise;
}

#submitButton:hover {
   background-color: rgb(54, 167, 155);
   transition: background-color .5s linear;
}

.tabs {
  width: 20%;
  margin-left: 0;
}

.js-tab {
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
}

input[type="button"] {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
}

 input[type="button"]:hover,:focus {
  background-color: white;
  transition: background-color .75s linear;
}

.unselect {
  background-color: rgb(221,221,221);
  transition: background-color .5s linear;
}

.select {
  background-color: white;
}

.container {
   max-width: 90%;
   margin: 0 auto;
}

.js-instruction {
    text-align: center;
}

#js-form {
    text-align: center;
}


.error-message {
    font-size: 44px;
}

.hidden {
    display: none;
}

.js-results-list2 {
  text-align: center;
}

.js-start {
    margin: 0 auto;
    width: 90%;
    text-align: center;
  }

.videowrapper {
  position: relative;
  margin: 0 auto;
  padding-bottom: 500px;
  padding-top: 25px;
  height: 0px;
  max-width: 1000px;
  max-height: 500px;
}

.videowrapper iframe {
  position: absolute;
  left: 0px;
  right: 0px;
  top:0px;
  bottom:0px;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 500px;
}

/*Animations*/

.scrollWrapper {
  padding: 25px;
  margin: 50px;
  position: relative;
}

.scrollToTop {
  border-radius: 50%;
  position: absolute;
  z-index: 99;
  left: 50%;
  margin-left: -35px;
  width: 70px;
  height: 70px;
  top: 50%;
  margin-top: -35px;
  line-height: 40px;
  text-align: center;
  color: white;
  background-color: turquoise;
}

.fa.fa-arrow-up {
  position: relative;
  top: 10px;
}

.scrollToTop:hover {
  background-color: #555; /* Add a dark-grey background on hover */
  transition: background-color .5s linear;
}

.scrollToTop:focus {
  background-color: pink; 
  transition: background-color .5s linear;
}

.loader {     /*shout-out to Traversy Media for the tutorial on this loader image*/
  opacity: 0;
  height: 50px;
  width: 50px;
  display: flex;
  margin: 100px auto 0 auto;
  transform-origin: bottom center;
  animation: rotate 3s linear infinite;
}

.circle {
  background-color: turquoise;
  display: inline-block;
  height: 40px;
  width: 40px; 
  border-radius: 50%;
  animation: grow 1.5s linear infinite;
  transform: scale(0);
  margin: -10px;
}

.circle:nth-child(2) {
  background-color: pink;
  animation-delay: 0.75s;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  50% {
    transform: scale(1);
  }
}

/****Queries****/

@media screen and (max-width: 320px) {
  
}