*{
    box-sizing: border-box;
}

body{
    /*font-family: 'Roboto',sans-serif;*/
    font-family: 'Oswald',sans-serif;
    margin: 0 auto;
    background-color: grey;
    
}

.tastefinder{
  font-family: 'Lobster', cursive;
  font-size: 28px;
}


.logo{
  display:inline-block;
}


#start-container{
  margin: 0 auto;
  width: 90%;
}



section {
  width: 100%;

}


ul {
  list-style: none;

}

ul.searchBar{
    display: flex;
    padding: 0;
    margin-bottom: 0;
    height: 70px;

}

.round-left{
  border-radius: 10px 0px 0px 0px;
}

.round-right{
  border-radius: 0px 10px 0px 0px;
}


#js-form{
  display: flex;
}

input{
  font-size: 28px;
  width: 70%;
  padding: 20px;
  margin: 0;
  height: 80px;
  border: none;
  
}

#submitButton{
  height: 80px;
  width: 30%;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  background-color: turquoise;


}

#submitButton:hover {
   background-color: rgb(54, 167, 155);
   transition: background-color .5s linear;
}

.tabs{
  width: 20%;
  margin-left: 0;
}



input[type="button"]{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
}


 input[type="button"]:hover,:focus{
  background-color: white;
  transition: background-color .75s linear;
}

.unselect{
  background-color: rgb(221,221,221);
  transition: background-color .5s linear;
}

.select{
  background-color: white;

}

.js-tab{
  font-family: 'Oswald', sans-serif;
}

.container{
   max-width: 90%;
   margin: 0 auto;
}

h1{
    text-align: center;
}

.js-instruction{
    text-align: center;
}

#js-form{
    text-align: center;
}


.error-message{
    color: red;
}

.hidden{
    display: none;
}

#js-resultsContainer{
    
    margin: 0 auto;
    width:90%;
}


#js-start{
    text-align: center;
}


.videowrapper{
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0px;
}

.videowrapper iframe{
  position: absolute;
  left: 0px;
  right: 0px;
  top:0px;
  bottom:0px;
  width: 100%;
  height: 100%;
}
